####################[ Vita console settings ]#####################

# The IP address of the Vita console that we want to use for testing
# Please note that you need the Vita Companion module installed
VITA_CONSOLE_IP="xxx.xxx.xxx.xxx"

# The location on the Vita console where the VPK should be stored
VITA_VPK_PATH="ux0:"
